:root {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

.App {
  max-width: 700px;
  margin: auto;
}

.Display {
  background-color: gray;
  height: 100px;
  text-align: right;
  line-height: 100px;
}

.Display h2 {
  color: #fff;
  font-weight: bold;
  margin: 0;
  padding: 0 0.4em;
  font-size: 1.6rem;
}

.button {
  width: 25%;
  height: 100px;
  font-weight: 400;
  font-size: 1.2rem;
  border: 1px solid red;
}

.wide {
  width: 50%;
}